node-red-block-diagram.json
[{"id":"8284eb7e.79daa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44d99d08.be460c","type":"mqtt in","z":"8284eb7e.79daa8","name":"","topic":"ESP32/temp","qos":"2","datatype":"auto","broker":"f85adcc8.a9aa48","nl":false,"rap":true,"rh":0,"x":110,"y":140,"wires":[["f569c0ee.adfa6","79ace5da.b60914","126f50ec.4e76ff"]]},{"id":"f569c0ee.adfa6","type":"ui_gauge","z":"8284eb7e.79daa8","name":"","group":"5136a16d.5265e8","order":0,"width":0,"height":0,"gtype":"gage","title":"temp","label":"'C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":330,"y":60,"wires":[]},{"id":"fea0be.8409cf4","type":"mqtt in","z":"8284eb7e.79daa8","name":"","topic":"ESP32/hum","qos":"2","datatype":"auto","broker":"f85adcc8.a9aa48","nl":false,"rap":true,"rh":0,"x":90,"y":400,"wires":[["c98378a0.0ffe98","a483fc09.cabc4","dd3df599.9ae898"]]},{"id":"c98378a0.0ffe98","type":"ui_gauge","z":"8284eb7e.79daa8","name":"","group":"5136a16d.5265e8","order":2,"width":0,"height":0,"gtype":"donut","title":"hum","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":310,"y":320,"wires":[]},{"id":"10d1b548.ce4083","type":"mqtt in","z":"8284eb7e.79daa8","name":"","topic":"ESP32/pressure","qos":"2","datatype":"auto","broker":"f85adcc8.a9aa48","nl":false,"rap":true,"rh":0,"x":560,"y":80,"wires":[["173e47d0.b052e8","da899461.f689d8"]]},{"id":"173e47d0.b052e8","type":"debug","z":"8284eb7e.79daa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"da899461.f689d8","type":"ui_text","z":"8284eb7e.79daa8","group":"5136a16d.5265e8","order":2,"width":0,"height":0,"name":"","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","className":"","x":780,"y":160,"wires":[]},{"id":"79ace5da.b60914","type":"ui_chart","z":"8284eb7e.79daa8","name":"","group":"7667aae0.6c6b7c","order":0,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":330,"y":160,"wires":[[]]},{"id":"a483fc09.cabc4","type":"ui_chart","z":"8284eb7e.79daa8","name":"","group":"7667aae0.6c6b7c","order":0,"width":0,"height":0,"label":"hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":310,"y":400,"wires":[[]]},{"id":"a7bf096e.823a3","type":"ubidots_out","z":"8284eb7e.79daa8","name":"raspberry","token":"BBFF-riwib0xH2X3B6vyxPPncCiID8ijWk8","label_device":"","device_label":"raspberry","tier":"business","tls_checkbox":true,"x":500,"y":280,"wires":[]},{"id":"126f50ec.4e76ff","type":"function","z":"8284eb7e.79daa8","name":"Parse Data to JSON Object","func":"var payload = msg.payload;\n\n/* Saves the sensor readings */\nvar temp_value_c = payload; // temperature in celsius\n\n\nvar data = {}\n/* Builds the payload to be published */\ndata.payload = {\"temperature-c\": temp_value_c};\nreturn data;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["a7bf096e.823a3"]]},{"id":"78bcd1b6.bd82c","type":"ubidots_out","z":"8284eb7e.79daa8","name":"raspberry","token":"BBFF-riwib0xH2X3B6vyxPPncCiID8ijWk8","label_device":"","device_label":"raspberry","tier":"business","tls_checkbox":true,"x":500,"y":520,"wires":[]},{"id":"dd3df599.9ae898","type":"function","z":"8284eb7e.79daa8","name":"Parse Data to JSON Object","func":"var payload = msg.payload;\n\nvar hum = payload; \n\n\nvar data = {}\n/* Builds the payload to be published */\ndata.payload = {\"humidity\": hum};\nreturn data;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":460,"wires":[["78bcd1b6.bd82c"]]},{"id":"f85adcc8.a9aa48","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5136a16d.5265e8","type":"ui_group","name":"temp and hum","tab":"d835b7cd.d9f14","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7667aae0.6c6b7c","type":"ui_group","name":"charts","tab":"d835b7cd.d9f14","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d835b7cd.d9f14","type":"ui_tab","name":"weather","icon":"dashboard","order":1,"disabled":false,"hidden":false}]